- name: Déploiement des sites et génération automatique de noms de domaines
  hosts: localhost
  become: true
  vars:
    domains:
     - front.hei.school
     - back.hei.school
     - api.hei.school
  tasks:
   - name: Créer les répertoires des sites
     file:
       path: "/var/www/{{ item }}"
       state: directory
     loop: "{{ domains }}"

   - name: Générer les contenus des sites
     lineinfile:
       dest: "/var/www/{{ item }}/index.html"
       insertafter: <body>
       line: "<h1> Welcome in {{ item }} </h1>"
     loop: "{{ domains }}"

   - name: Générer les fichiers de configurations Apache2
     template:
       src: "virtual_host.conf.j2"
       dest: "/etc/apache2/sites-available/{{ item | regex_replace('\\.conf$', '') }}.conf"
     loop: "{{ domains }}"
     notify: Reload Apache2
     
   - name: Activer les sites Apache2
     file:
       src: "/etc/apache2/sites-available/{{ item }}.conf"
       dest: "/etc/apache2/sites-enabled/{{ item }}.conf"
       state: link
     loop: "{{ domains }}"
     notify: Reload Apache2

    - name: Désactiver le site par défaut Apache2
     command: a2dissite 000-default.conf
     args:
       chdir: "/etc/apache2/sites-available/"
     notify: Reload Apache2

   - name: Ajouter les noms des hôtes
     lineinfile:
       dest : "/etc/hosts"
       line: "192.168.244.129 {{ item }}"
     loop: "{{ domains }}"

  handlers:
    - name: Reload Apache2
      service:
        name: apache2
        state: reloaded
